@charset "UTF-8";

body {
	font:100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	color: #000;
	background: url("../images/edm.jpg");
	}
	

#container {
	width: 1024px;
	display: block;
	min-height: 1200px;
	margin: 0 auto;
	padding: 0;
	background-color: whitesmoke;
	color: #006633;
	text-align: left;
	font-size: 48px;
	overflow: hidden;
}

.pre-headercontainer {
	width: 100%;  
	padding: 0;
	display: block;
	height: 70px;
	background: whitesmoke;
	float: left;
}

.formDiv {
float: right; 
}

.pre-header{
	text-align: left;
	font-size: 24px;
	color: #3300CC;
	font-family: Helvetica;
	font-style: italic;
	line-height: 2;

}


.email{
	float: left;
	font-size: 8px;
}

.header {
	display: block;
    border-radius: 25px;
	background-color: #669933;
	clear: both;

}

.header .mainlist ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header .mainlist li {
	padding-left: 7%;
    display: inline;
    font-size: 24px;
	line-height: normal;
}

.PostContainer {
	width: 100%;  
	padding: 30px,0,0,10px;
	}

.Post {
	width: 100%;
	padding: 5px;
	}
	
.Post .image {
	width: 30%;
	float: left;
	display: block;
	height: 20px;
	background: green;
	}

.Post .content {
	width: 70%;
	float: left;
	display: block;
	height: 20px;
	background: pink;
	}